*{
    margin:0;
    padding:0;
}

body {
    position: relative;
    width:1000px;
    height:100%;
    background-color:#000;
    display:block;
    
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
}

#map_canvas {
    position: absolute;
    display:block;
    width:1000px;
    height:736px;
    background-color:#c0c0c0;
    
    /*visibility:hidden;*/
}

#logo_container{
    position: relative;
    display:block;
    width:200px;
    margin-top:10px;
    z-index: 100;
}

#logo{
    width:200px;
}

#char_container {
    position: relative;
    display:block;
    width:100px;
    height:200px;
    margin:120px auto;
}

#char {
    display:block;
    width:100px;
    height:100px;
    background-repeat:no-repeat;
    background-size:contain;
    border:0;
    background-image:url("https://dl.dropboxusercontent.com/u/6674841/aruku_surround/image/bocco_paird.png");
}

.char_left{
    background-image:url("https://dl.dropboxusercontent.com/u/6674841/aruku_surround/image/bocco_left.png");
}

.char_right{
    background-image:url("https://dl.dropboxusercontent.com/u/6674841/aruku_surround/image/bocco_right.png");
}

#form_container {
    z-index: 100;
    position: relative;
    display:block;
    width:300px;
    margin:120px auto;
    background-color:#fff;
    
    border-style: solid;
    border-width: 1px;
}

#form_container ul{
    list-style:none;
    text-align: center;
}

#form_container li{
    text-align:left;
    margin:0 5px;
}

#form_container input,
#form_container textarea,
#form_container select {
    width:280px;
}

#form_container input[readonly]{
    cursor:not-allowed;
}

#form_container li label{
    display:block;
    width:100px;
}

#form_container li.button_container{
    display: inline;
    width:300px;
    padding:0;
    margin:0 auto;
}
#form_container textarea{
    height:60px;
}
#form_container input[type="button"]{
    margin:5px auto;
    padding: 15px 20px;
    width:90px;
    background-color: #0c0;
    color: #fff;
    border-style: none;
}

#form_container input.btnCancel {
    background-color: #c0c0c0;
}
